// init start
*{
    box-sizing: border-box;
    background: none;
    border: none;
    color: inherit;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    // font-family: LatoReg;
}
a{
    display: block;
}
@font-face {
    font-family: "LatoReg";
    src: url('../fonts/Lato-Regular.ttf');
}
//init end

.custom-section{
    width: 80vw;
    height: 80vh;
    // width: 0;
    border: 1px solid #aaa;
    position: relative;
    margin: 10vh auto;
    // top: 50%;
    // left: 50%;
    overflow: hidden;
    // transform: translate(-50%, -50%) scale(1);
    font-family: LatoReg;
    // position: relative;
}
.snapped-middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.slide-module{
    user-select: none;
    position: absolute;
    cursor: move;
    top: 100px;
    left: 100px;
    .resize-handle, .rotate-handle{
        background-color: #fff;
        border: 1px solid #aaa;
        width: 25px;
        height: 25px;
        position: absolute;
        top: -15px;
        right: -15px;
        opacity: 0;
        border-radius: 50%;
        cursor: ne-resize;
        background-image: url('../img/gallery/resize.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 90%;
        z-index: 5;
    }
    .rotate-handle{
        top: 15px;
        background-image: url('../img/gallery/rotate.png');
        background-size: 80%;
        cursor: pointer;
    }
    .resize-handle:active, .rotate-handle:active{
        transform: scale(1.3)
    }
}
.slide-module:active{
    opacity: 0.9;
}
.slide-module:after, .slide-module:active:after{
    content: "";
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    position: absolute;
    padding: 3px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .3s ease;
}

.slide-module:hover, .slide-module:active, .slide-module.active{
    .resize-handle, .rotate-handle{
        opacity: 1;
    }
}
.slide-module:hover:after, .slide-module:active:after, .slide-module.active:after{
    border: 1px dotted #aaa;
}
.img-module{
    width: 200px;
    img{
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        width: 100%;
        height: 100%;
        display: block;
    }
}
.aligned{
    position: absolute;
    height: 150%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(54, 236, 38);
    width: 1px;
    min-height: 150px;
}
.aligned.red{
    background: red;
}
.edit-panel{
    position: absolute;
    left:105%;
    top: 0;
    background: #eee;
    padding: 10px;
    border: 1px solid #aaa;
    width: 300px;
}
.spacer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0;
    z-index: 0 !important;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
//toolbar
#toolBar{
    background: #222;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    font-family: LatoReg;
    display: flex;
    color: rgba(255,255,255,0.8);
    input{
        background: rgba(255,255,255,1);
        color: #111;
        width: 60px;
        margin-left: 10px;
        padding: 5px 10px;
        border-radius: 3px;
    }
    .tool-module{
        display: flex;
        width: 20%;
    }
    .module-group{
        display: flex;
        align-items: center;
        margin-right: 15px;
    }
    .snapper{
        width: 25px;
        height: 25px;
        background: #eee;
        border-radius: 3px;
        margin: 0 3px;
        color: #111;
        cursor: pointer;
        padding: 2px;
        text-align: center;

    }
    #addText{
        background: rgb(16, 185, 149);
        color: white;
        font-weight: bold;
    }
    #addImg{
        background: rgb(231, 230, 201);
        color: #333;
        font-weight: bold;
    }
}
//toolbar

//textPopup
#textPopup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: LatoReg;
    display: none;
    .fader{
        background: rgba(0,0,0, 0.8);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .form-container{
        padding: 15px;
        background: #eee;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 4px;
    }
    .title{
        margin-bottom: 20px;
    }
    #addTextInput{
        background: white;
        height: 30px;
        padding-left: 10px;
        border-radius: 4px;
    }
    #submitTextInput{
        height: 30px;
        background: #333;
        color: white;
        border: none;
        padding: 0 10px;
        outline: none;
        cursor: pointer;
        border-radius: 4px;
        display: block;
        margin: 30px auto 0;
    }

}
#textPopup.active{
    display: block;
}
//textPopup

#shortCut{
    font-family: LatoReg;
    position: fixed;
    z-index: 10;
    // background: rgba(0, 0, 0, 0.1);
    // width: 0px;
    top: 50%;
    transform: translateY(-50%);
    left: -300px;
    height: 95%;
    overflow: hidden;
    border-radius: 15px;
    border: 1px solid #dadada;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    cursor: pointer;
    text-align: right;
    transition: all .3s ease;
    .container{
        width: 230px;
        height: 100%;
        position: relative;
        padding: 30px 15px;
        background: rgb(240, 240, 223);
    }
    .form-group{
        margin-bottom: 30px;
        border-bottom: 1px solid #bbb;
        padding-right: 10px;
    }
    .title{
        font-size: 12px;

    }
    .caption{
        font-weight: bold;
        font-size: 16px;
        margin: 5px 0 10px;
        opacity: 0.8;
    }
}

#shortCut.active{
    left: 0;
}

.edit-parent{
    background: #fafafa;
    border: 1px solid #aaa;
    padding: 10px 10px;
    width: 310px;
    // top: 300px;
    // left: 300px;
    position: absolute;
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 55;
    .title{
        font-weight: bold;
        width: 100%;
        margin-bottom: 15px;
    }
    .form-group{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        font-size: 9px;
        margin-bottom: 10px;
    }
    .form-group.w50{
        width: 22%;
    }
    .caption{
        margin-bottom: 2px;
        width: 100%
    }
    .form-group.w50{
        .full-input{
            padding: 5px 2px;
        }
    }
    textarea.full-input{
        height: 40px;
        font-size: 12px;
        font-family: LatoReg;
        color: #333;
    }

}
.full-input, .short-input, .half-input, .block-input{
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 30px;
    padding: 5px 5px;
    width: 100%;
    outline: none;
    font-size: 12px;
    font-family: LatoReg;
}
#textEditor{
    display: none;
}
#textEditor.active{
    display: flex;
}

//layerSettings
#layerSettings{
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 300px;
    left: -300px;
    background: #fafafa;
    border: 1px solid #aaa;
    padding: 30px;
    height: 90vh;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    z-index: 55;
    transition: all .3s ease;
    font-family: LatoReg;
    .title{
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 40px;
    }
    .form-group{
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 13px;
    }
    .caption{
        width: 130px;
    }
    .half-input{
        width: 90px;
        height: 25px;
    }
    .short-input{
        width: 40px;
    }
    select.short-input{
        width: 50px;
    }
}
#layerSettings.active{
    left: 0;
}

//layerSettings
